<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Drink list
    </ion-list-header>
    <drinks-consumed-list></drinks-consumed-list>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="startSession()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <settings-actions
    (openToggled)="onActionsToggled($event)">
  </settings-actions>
</ion-content>
