<div [formGroup]="formGroup">

  <ion-item>
    <ion-label position="floating" class="main-label">weight</ion-label>
    <ion-input type="text"
               name="weight"
               formControlName="weight">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="main-label">height</ion-label>
    <ion-input type="text"
               name="height"
               formControlName="height">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="main-label">gender</ion-label>
    <ion-input type="text"
               name="gender"
               formControlName="gender">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="main-label">birthYear</ion-label>
    <ion-input type="text"
               name="birthYear"
               formControlName="birthYear">
    </ion-input>
  </ion-item>


  <ion-button></ion-button>
</div>
