<ion-header>

</ion-header>
<ion-content>
  <div [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Drink Name</ion-label>
      <ion-input type="text"
                 name="name"
                 formControlName="name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Volume(in litre)</ion-label>
      <ion-input type="text"
                 name="alcVolume"
                 formControlName="alcVolume">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Alcohol percentage</ion-label>
      <ion-input type="text"
                 name="alcPercentage"
                 formControlName="alcPercentage">
      </ion-input>
    </ion-item>

    <ion-button [disabled]="formGroup.invalid" (click)="saveDrink()">Salveaza bautura</ion-button>
  </div>
</ion-content>
